@import url(https://fonts.googleapis.com/css?family=Merriweather);
  
body {
   
    margin: 0; 
    padding: 0; 
    
}

@media screen and (max-width: 600px) {
    header {
        justify-content: center; /* Centers the logo on small screens */
    }

    .audio-card {
        margin-top: 20px; /* Add some space between the logo and audio card on small screens */
    }
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #333;
    padding: 10px 0; /* Half the original height by reducing padding */
    text-align: center;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
    display: flex; /* New */
    justify-content: center; /* New */
    align-items: center; /* New - optional, for vertical alignment */
}

.cookie-banner button {
    margin-left: 10px;
}


.cookie-accept {
    /* background-color: #b8faf6d3; Pastel teal */ 
    border-width: 1px;
    border-radius: 6px;
    border-color: black;
    padding: 3px 8px; /* Adjusted for reduced height */
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.cookie-banner a {
    color: #af538e; /* Brown */
    text-decoration: none; /* No underline */
    font-family: 'Montserrat', sans-serif;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .cookie-banner {
        flex-direction: column;
        align-items: center;
    }

/*     .cookie-accept {
        margin-top: 5px;
    } */
}

.navbar {
    background: rgba(240, 185, 213, 0.096);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
}


.nav-menu {
    list-style: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: #333;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

@media (max-width: 600px) {
    .nav-menu {
        flex-direction: column;
        display: none;
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-menu.show {
        display: flex;
    }
}

