---
---

@import "form";

body{
    background-color:#191718 !important;
    min-height: 100vh;
}

.half.right.cf {
    width: 100%;
}

#input-message {
    width: 100%;
    box-sizing: border-box;
}
