<nav class="navbar">
    <a href="#" class="nav-toggle">Menu</a>
    <ul class="nav-menu">
      <li><a href="/index" {% if page.url == '/' %}class="white-link"{% endif %}>Home</a></li>
      <li><a href="/contact" {% if page.url == '/' %}class="white-link"{% endif %}>Contact</a></li>
      <li><a href="/radio" {% if page.url == '/' %}class="white-link"{% endif %}>Radio</a></li>
    </ul>
  </nav>

  <script>

const navToggle = document.querySelector('.nav-toggle');
const navMenu = document.querySelector('.nav-menu');

navToggle.addEventListener('click', () => {
    navMenu.classList.toggle('show');
});

  </script>